* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0px;
}


.options-bar{
    height: 50px;
    width: 500px;
    display: flex;
    border-radius: 5px;
    overflow: hidden;
}

.options-bar > button{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Arial';
    border: 2px solid black;
    cursor: pointer;
}

.options-bar > button:hover{
    opacity: 0.8;
}

.options-bar > button.active{
    background: green;
    color: white;
}

.options-bar > button.active:hover{
    cursor: auto;
    opacity: 1;
}

/* Form  */
form{
    width: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

input{
    height: 35px;
    padding: 5px 10px;
}

input[type=submit]{
    background: green;
    color: white;
}

table{
    width: 500px;
    border-collapse: collapse;
    
}   
table thead{
}
table th, table tr, thead tr{
    border: 1px solid black;
}

table thead th:last-child{
    border-right: 0px;
}

main{
    display: flex;
    gap: 20px;
}

/* Progress */
.progressTasks{
    max-width: 500px;
}

.progressTasks h3{
    text-align: center;
    border: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold
}

.progressTasks .block-tasks{
    
}

.progressTasks .row-task{
    display: grid;
    grid-template-columns: 230px 70px 200px ;
    
    
}

.progressTasks .row-task > div{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 30px;
}

.progressTasks .row-task .setTime{
    
}

.progressTasks .row-task .setTime button{
    width: 100%;
    height: 100%;
    bordeR: none;
    font-weight: bold;
    text-transform: uppercase;
}

.progressTasks .row-task .setTime button.stopTask{
    background: red; 
    color: white;
}

.progressTasks .row-task .setTime button.startTask{
    background: blue; 
    color: white;
}
.progressTasks .row-task .setTime button.stopTask{

    background: gree; 
    color: white;
}